extends layout

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1.mainHeader Clifton Hefley

        p.lead.text-light
          | Web Developer

        .portfolio-bio
          p
            | I was drawn to computers at an early age. I created my first website when I was in elementary school on Geocities, which no longer exists.
            | In middle school and high school I became interested in graphic design and learned to use Adobe Photoshop.
            | In college I focused more on programming and web development. I like that web development involves design, but also a lot of problem solving.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Node.js
          li React
          li Express
          li MongoDB
          li REST API
          li Java
          li Bootstrap
          li Pug
          li Photoshop
        h6 Contact

        ul
          li cliftonjhefley@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/clifton-hefley-898b69184/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/cliftownh' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  