extends layout

block content
    section.errorMessage
        h1= `${error.message} - Status: ${error.status}`
        a.button(href='/') Go Home
        .errorStackTrace
            pre.stack-trace= error.stack